<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Be A Teacher</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Be A Teacher</li>
            </ul>
        </div>
    </div>
</div>



<div class="contact-section pt-100 pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="contact-img">
                    <img src="assets/img/contact-img.png" alt="Images">
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="contact-wrap">
                    <div class="contact-form">
                        <div class="section-title">
                            <span class="sp-before sp-after">Be A Teacher</span>
                            <h2>Complete This Form To Be A Teacher</h2>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <i class='bx bx-file'></i>
                                <!-- <input type="file" name="file" onchange=""  id="file" class="form-control" required placeholder="Your File's*"> -->
                                <ngx-dropzone (change)="onSelect($event)">
                                    <ngx-dropzone-label>
                                        Drag And Drop Files
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                        <ngx-dropzone-label>
                                            {{f.name}} {{f.type}}
                                        </ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                            <button class="default-btn border-radius" (click)="uploadFiles()">Upload Files<i class='bx bx-plus'></i></button><br><br>
                        </div>

                        <form id="contactForm" (ngSubmit)="registerTeacher()">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <label for="roadAddress">First Name</label>
                                    <div class="form-group">
                                        <i class='bx bx-user'></i>
                                        <input type="text" name="firstName"  [(ngModel)]="userData.firstName" id="firstName" class="form-control" required placeholder="Your Name*">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <label for="roadAddress">Email</label>
                                    <div class="form-group">
                                        <i class='bx bx-user'></i>
                                        <input type="email" name="email"  [(ngModel)]="userData.email" id="email" class="form-control" required placeholder="E-mail*">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <label for="roadAddress">Phone Number</label>
                                    <div class="form-group">
                                        <i class='bx bx-phone'></i>
                                        <input type="number" name="phoneNumber"  [(ngModel)]="userData.phoneNumber" id="phoneNumber" required class="form-control" placeholder="Your Phone*">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <label for="roadAddress">Montant Non Paye</label>
                                    <div class="form-group">
                                        <i class='bx bx-phone'></i>
                                        <input type="number" name="montantNonPaye"  [(ngModel)]="userData.montantNonPaye" id="montantNonPaye" required class="form-control" placeholder="How Much You Paied*">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <label for="roadAddress">Password</label>
                                    <div class="form-group">
                                        <i class='bx bx-phone'></i>
                                        <input type="password" name="password"  [(ngModel)]="userData.password" id="password" required class="form-control" placeholder="Your Password*">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <label for="roadAddress">Detail Etude Presentiel</label>
                                    <div class="form-group">
                                        <i class='bx bx-file'></i>
                                        <input type="text" name="detailEtudePresentiel"  [(ngModel)]="userData.detailEtudePresentiel" id="detailEtudePresentiel" class="form-control" required placeholder="Your Subject's*">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="roadAddress">Detail Enseigant</label>
                                    <div class="form-group">
                                        <i class='bx bx-envelope'></i>
                                        <textarea name="detailEnseigant"  [(ngModel)]="userData.detailEnseigant" class="form-control" id="detailEnseigant" cols="30" rows="8" required placeholder="Talk About You'r Self*"></textarea>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12 col-md-12">
                                    <br><br>
                                    <button type="submit" class="default-btn border-radius">Send Form <i class='bx bx-plus'></i></button>
                                </div>
                               
                            </div>
                        </form>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="data-table-content">
                    <h2>Start Your Juerny With Us</h2>
                    <a routerLink="/contact" class="default-btn">Be A Teacher<i class='bx bx-plus'></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="data-table-img">
                    <img src="assets/img/logo/Logoblanc.png"alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>