<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Case Study</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Case Study</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="case-study-area pt-50 pb-70">
    <div class="container">
        <div class="row">

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre Demande</th>
                    <th scope="col">Detail Demande</th>
                    <th scope="col">Locale</th>
                    <th scope="col">Prix Max</th>
                    <th scope="col">Prix Min</th>
                    <th scope="col">Statut Demande</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Matiere</th>
                    <th scope="col">Etudiant</th>
                    <th scope="col">Teacher</th>
                    <th></th>
                    <!-- Add more headers as needed -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let demandeDeCour of demandesDeCours; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ demandeDeCour.titre_demande }}</td>
                    <td>{{ demandeDeCour.detail_demande }}</td>
                    <td>{{ demandeDeCour.locale }}</td>
                    <td>{{ demandeDeCour.prix_max }}</td>
                    <td>{{ demandeDeCour.prix_min }}</td>
                    <td>{{ demandeDeCour.statutDemande }}</td>
                    <td>{{ demandeDeCour.adress.adress_Id }}</td> <!-- Assuming you want to display the whole address object -->
                    <td>{{ demandeDeCour.matiere.matiere_Id }}</td> <!-- Assuming you want to display the whole matiere object -->
                    <td>{{ demandeDeCour.etudiant.etudiant_Id }}</td> <!-- Assuming you want to display the whole etudiant object -->
                    <td>{{ demandeDeCour.teacher.teacherId }}</td> <!-- Assuming you want to display the whole teacher object -->
                    <!-- Add more cells to display other properties as needed -->
                    <td><button type="button" class="btn btn-outline-success">Update</button>
                        <button type="button" class="btn btn-outline-danger" (click)="deleteDemandeDeCour(demandeDeCour.demandeDeCour_Id)">Delete</button>
                    </tr>
                </tbody>
              </table>
              
              

            

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <a routerLink="/case-study" class="prev page-numbers"><i class="bx bx-chevron-right"></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/case-study" class="page-numbers">2</a>
                    <a routerLink="/case-study" class="page-numbers">3</a>
                    <a routerLink="/case-study" class="page-numbers">4</a>
                    <a routerLink="/case-study" class="next page-numbers"><i class="bx bx-chevron-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand-logo-area pt-100">
    <div class="container-fluid">
        <div class="container-max">
            <div class="brand-logo-slider owl-carousel owl-theme">
                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo1.png" alt="Images">
                </div>
                
                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo2.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo3.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo4.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo5.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo6.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>
