<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/logo/logo1.png" alt="Logo"></a>
        
    </div>

    <div class="main-nav nav-bar-two">
        <div class="container-fluid">
            <nav class="container-max-2 navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" routerLink="/"><img class="logo" src="assets/img/logo/Logoblanc.png" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        

                        <ng-container *ngIf="isLoggedIn==false">
                            <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a></li>

                            <li class="nav-item"><a routerLink="/sign-in" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sign In</a></li>
                            <li class="nav-item"><a routerLink="/sign-up" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sign Up</a></li>
                        </ng-container>
                        
                        
                            <ng-container *ngIf="etudiant==true && isLoggedIn==true">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a></li>

                                <li class="nav-item"><a routerLink="/team" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Teacher's</a></li>
                                <li class="nav-item"><a routerLink="/app-recommendation" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Recommendation's</a></li>
                                <li class="nav-item"><a routerLink="/app-region" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Region's</a></li>
                                <li class="nav-item"><a routerLink="/app-adress" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Adress's</a></li>

                            </ng-container>
                            <ng-container *ngIf="teacher==true && isLoggedIn==true">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a></li>

                                <li class="nav-item"><a routerLink="/app-support-cour" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Suppor Cour's</a></li>
                                <li class="nav-item"><a routerLink="/case-study" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Demandes De Cours</a></li>
                                <li class="nav-item"><a routerLink="/app-niveau-etude" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Niveau d'étude's</a></li>
                                <li class="nav-item"><a routerLink="/app-region" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Region's</a></li>
                                <li class="nav-item"><a routerLink="/app-adress" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Adress's</a></li>

                            </ng-container>
                            <ng-container *ngIf="admin==true && isLoggedIn==true">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a></li>

                                <li class="nav-item"><a routerLink="/app-matiere" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Matiere's</a></li>
                                <li class="nav-item"><a routerLink="/app-ville" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Ville's</a></li>
                                <li class="nav-item"><a routerLink="/app-teacher" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Teacher's</a></li>
                                <li class="nav-item"><a routerLink="/app-etudiant" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Etudian's</a></li>
                                <li class="nav-item"><a routerLink="/app-user" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">User's</a></li>
                                <li class="nav-item"><a routerLink="/app-paiement" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Paiement's</a></li>
                            </ng-container>
                       
                    </ul>
                    <div class="side-nav d-in-line align-items-center">
                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>
                        <ng-container *ngIf="isLoggedIn==true">
                        <div class="side-item" >
                            <div class="user-btn" (click)="logout()">
                                <a routerLink="/sign-in"><i class="flaticon-left"></i></a>
                            </div>
                        </div>
                        <div class="side-item">
                            <div class="user-btn">
                                <a routerLink="/app-profile"><i class="flaticon-contact"></i></a>
                            </div>
                        </div>
                    </ng-container>
                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a routerLink="/contact" class="nav-menu-btn">Be A Teacher<i class='bx bx-plus'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="side-nav-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center  align-items-center">
                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>
                        <div class="side-item">
                            <div class="user-btn">
                                <a routerLink="/"><i class="flaticon-contact"></i></a>
                            </div>
                        </div>
                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a routerLink="/contact" class="nav-menu-btn">Be A Teacher <i class='bx bx-plus'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            
            <div class="search-close">
                <span class="search-close-line"></span>
                <span class="search-close-line"></span>
            </div>

            <div class="search-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class="flaticon-loupe"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>