<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Matiere's</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Matiere's</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="case-study-area pt-50 pb-70">
    <div class="container">
        <div class="row">

        
                <input type="text" id="myInput" (keyup)="searchMatieres()" placeholder="Search for matieres..." title="Type in a name">
            
              <table class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Matiere ID</th>
                    <th scope="col">Code Etude</th>
                    <th scope="col">Matiere Name</th>
                    <th scope="col">Niveau Etude</th>
                    <th scope="col">Teacher ID</th>
                    <!-- Add more headers as needed -->
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let matiere of filteredMatieres; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ matiere.matiereId }}</td>
                    <td>{{ matiere.code_etude }}</td>
                    <td>{{ matiere.matiere_name }}</td>
                    <td>{{ matiere.niveauEtude.text_niveau }}</td>
                    <td>{{ matiere.teacher.teacherId }}</td>
                    <!-- Add more cells to display other properties as needed -->
                    <td>
                      <button type="button" class="btn btn-outline-success" [routerLink]="['/app-update-matiere', matiere.matiere_Id]">Update</button>
                      <button type="button" class="btn btn-outline-danger" (click)="deleteMatiere(matiere.matiereId)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              
              

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <a routerLink="/case-study" class="prev page-numbers"><i class="bx bx-chevron-right"></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/case-study" class="page-numbers">2</a>
                    <a routerLink="/case-study" class="page-numbers">3</a>
                    <a routerLink="/case-study" class="page-numbers">4</a>
                    <a routerLink="/case-study" class="next page-numbers"><i class="bx bx-chevron-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="data-table-content">
                    <h2>Start Your Juerny With Us</h2>
                    <a routerLink="/contact" class="default-btn">Be A Teacher<i class='bx bx-plus'></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="data-table-img">
                    <img src="assets/img/logo/Logoblanc.png"alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>